# Fichiers Maven
target/
!target/*.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Fichiers de développement
.git/
.gitignore
README.md
README-DATA.md
scripts/
compile.bat
run.bat

# Fichiers IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.project
.classpath

# Fichiers système
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Fichiers temporaires
*.tmp
*.temp 